<form #IlyasAssessment="ngForm" (ngSubmit)=processForm(IlyasAssessment)>
    <mat-card>
        <div fxLayout="column" fxLayoutGap="15px">
            <mat-form-field>
                <input matInput name="name" placeholder="Full Name" ngModel required>
                <mat-error>
                    Please enter your name
                </mat-error>
            </mat-form-field>
        
            <mat-form-field>
                <input matInput name="email" placeholder="Email" required email ngModel>
                <mat-error>
                    Please enter valid email address (eg.john@gmail.com)
                </mat-error>
            </mat-form-field>

        <span>Admin</span>
            <mat-radio-group fxLayout="row" fxlayoutAlign="end" fxLayoutGap="2vw" required>
                <mat-radio-button value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group> <br>
        </div>
    
        <div fxLayoutAlign="space-between" fxLayoutGap="10px">
            <button mat-raised-button color="warn" type="reset">
                <span>Clear</span>
            </button>

            <button mat-raised-button color="primary" type="submit" [disabled]="IlyasAssessment.invalid">
                <span>Submit </span>
                <mat-icon>send</mat-icon>
            </button>
        </div> 
    </mat-card>
</form> 
