.card1 {
    margin-top: 30px;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.user {
    margin-top: 30px;
}

.id {
    margin-top: 30px;
    margin-bottom: 30px;
}

.editDel {
    margin-bottom: 50px;
}


