<html>
  <mat-card class="card1">
    <div class="user" fxLayoutAlign="center">
      <h1>{{userName}}</h1>
    </div>
    
    <div class="id" fxLayoutAlign="center">
      ID: {{userId}} <br><br>
      EMAIL: {{userEmail}}
    </div>    
  </mat-card><br>
  
  <div fxLayoutAlign="center" fxLayoutGap="40px" class="button">          
    <button mat-raised-button color="primary" type="" (click)="loan()">
      <mat-icon>unarchive</mat-icon>
      <span> LOAN Item</span>
    </button>

    <button mat-raised-button color="primary" type="" (click)="return()">
      <span>RETURN Item </span>
      <mat-icon>archive</mat-icon>
    </button>
  </div><br><br>

  <form #theEditForm="ngForm" (ngSubmit)=processForm(theEditForm)>
    <mat-card class="custom">
      <div fxLayout="column" fxLayoutGap="15px">
      <h3>Edit user details</h3>
    <mat-form-field>
           
    <input matInput name="name" placeholder="{{userName}}" ngModel>
      <mat-error>
        Edit {{userName}}
      </mat-error>
    </mat-form-field>
             
    <mat-form-field>
      <input matInput name="email" placeholder="{{userEmail}}" email ngModel>
        <mat-error>
          Edit {{userEmail}}
        </mat-error>
      </mat-form-field><br>
    </div>

    <div class= "editDel" fxLayoutAlign="center" fxLayoutGap="40px">          
      <button mat-raised-button onclick="return confirm('Are you sure?'), history.go(0)" VALUE="Refresh"  color="primary" type="submit" [disabled]="theEditForm.invalid">
        <span>Update </span>
        <mat-icon>send</mat-icon>
      </button>

      <button mat-raised-button onclick="return confirm('Are you sure?'), history.go(0)" VALUE="Refresh" color="warn" (click)="deleteMe()">
        <mat-icon>delete</mat-icon>
        </button>
      </div> 

    </mat-card>
  </form>
</html>