<html>
  
  <mat-card class="card1">
    <div class="user" fxLayoutAlign="center">
      <h1>{{userName}}</h1>
    </div>
    
    <div class="id" fxLayoutAlign="center">
      ID NUMBER: {{userId}} <br><br>
      EMAIL: {{userEmail}}
    </div>    
    
    <div class= "editDel" fxLayoutAlign="center" fxLayoutGap="40px">          
      <button mat-raised-button>
        <span>Edit</span>
      </button>

      <button mat-raised-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div> 
  </mat-card>

  
  <div fxLayoutAlign="center" fxLayoutGap="40px" class="button">          
    <button mat-raised-button color="primary" type="" (click)="loan()">
      <mat-icon>unarchive</mat-icon>
      <span> Loan Item</span>
    </button>

    <button mat-raised-button color="primary" type="" (click)="return()">
      <span>Return Item </span>
      <mat-icon>archive</mat-icon>
    </button>
  </div> 
</html>
         