        <mat-card>
             
          <div fxLayoutAlign="center" fxLayoutGap="500px">
            <button mat-raised-button color="primary" type="" (click)="loan()">
              <mat-icon>unarchive</mat-icon>
              <span> Loan Item</span>
            </button>
         
            <button mat-raised-button color="primary" type="" (click)="return()">
              <span>Return Item </span>
              <mat-icon>archive</mat-icon>
            </button>
          </div> 
        </mat-card>
         